.App {
	text-align: center;
}

.App-intro {
	font-size: large;
 }

.spinner {
	height: 80px;
	margin: auto;
 }

 .movies {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
 }

 .add-movies {
	text-align: center;
 }

 .add-movies button {
	font-size: 16px;
	padding: 8px;
	margin: 0 10px 30px 10px;
 }

 .errorMessage {
	margin: auto;
	font-weight: bold;
	color: rgb(161, 15, 15);
 }

 input[type="submit"] {
	padding: 5px;
	background-color: transparent;
	color: black;
	border: 1px solid black;
	width: 80px;
	margin-left: 5px;
	cursor: pointer;
 }
 
 
 input[type="submit"]:hover {
	background-color: #282c34;
	color: antiquewhite;
 }
 
 
 .search > input[type="text"]{
	width: 40%;
	min-width: 170px;
 }

.movies span {
	display: block;
	margin: 0 auto;
 }

 img{
	 width: 200px;
	 height: 300px;
 }